---
layout: default
active: blog
---

<div class='jumbotron {{ page.active }}'>
	<div class="container">
	  <div class='row'>
			<div class='col-md-9'>
				<h1>{{ page.title }}</h1>
	    	<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	    </div>
		</div>
	</div>
</div>

<div class="container">
  <div class='row'>
		<div class='col-md-9 post-article'>
				{{ content }}
				<hr>
				Get in contact with {{page.author}}: <b><a href='https://twitter.com/{{page.twitter}}'>@{{page.twitter}}</a></b>
				<br>
				Share this post: <b><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a></b> | <b><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></b>

		</div>
		<div class='col-md-3 sidebar'>
			<h3>Blog posts</h3>
				{% for post in site.posts %}
				<div class='blog-post'>
					<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
					<p class='port-meta'>{{ post.date | date: "%b %-d, %Y" }}</p>
					<p> {{ post.content | strip_html | truncatewords: 20 }} </p>
				</div>
				<hr>
				{% endfor %}
		</div>
	</div>
</div>